.breadcrumbs {
    @include flex;
    flex-wrap: wrap;
    @include media-breakpoint('xl') {
        font-size: 0.875rem;
    }

    .icon-arr {
        border: solid $text;
        border-width: 0 2px 2px 0;
        padding: 3px;
        transform: rotate(-45deg);
        margin: 0 0.75rem;
    }
}
