.faq {
    .question {
        color: $blue;
        font-weight: 500;
        position: relative;
        cursor: pointer;

        &:before {
            @include pseudo;
            top: 5px;
            right: 0;
            border: solid $text;
            border-width: 0 0 1px 1px;
            padding: 4px;
            transform: rotate(-45deg);
            transition: 0.3s all;
        }
    }

    .answer {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in;
    }

    &.open {
        .question {
            &:before {
                transform: translateY(5px) rotate(135deg);
                color: $blue;
                border-color: $blue;
            }
        }

        .answer {
            margin-top: 0.5rem;
        }
    }
}
