.form-field {
    display: block;

    input, textarea, select {
        width: 100%;
        font-family: $text-font-stack;
        height: 2.5rem;
        border-radius: 0.5rem;
        border: 0.063rem solid #f2f2f7;
        padding: 0 1rem;
        color: $text;
        font-size: 0.875rem;

        &:hover {
            border-color: $gray;
        }

        &:focus {
            color: $titleColor;
        }
    }

    textarea {
        padding: 0.75rem 1rem;
        height: 7rem;
        resize: none;
    }
}
