#footer {;

    .text-light {
        color: #9ca9b7 !important;
    }

    .nav {
        gap: 2rem;

        &-link {
            padding: 0;
            color: #fff;
            font-weight: 500;
            @include media-breakpoint-down(md) {
                font-size: 0.875rem;
            }


            &:hover, &.active {
                color: $primary
            }
        }
    }

    .border-top {
        border-color: #3d5065 !important;
    }

    .logo {
        @include media-breakpoint-down(md) {
            max-width: 12.688rem;
        }

    }
}