@include media-breakpoint-up(xl) {
    .container {
        max-width: 996px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}