.clr::after {
    clear: both;
    content: '';
    display: table;
}

.container {
    max-width: 1420px;
    width: 90%;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

@for $i from 1 through 24 {
    $padding: 0.25rem * $i;

    .p-#{$i} {
        padding: $padding;
    }

    .pv-#{$i} {
        padding-top: $padding;
        padding-bottom: $padding;
    }

    .ph-#{$i} {
        padding-left: $padding;
        padding-right: $padding;
    }

    .mb-#{$i} {
        margin-bottom: 0.25rem * $i;
    }

    @include media-breakpoint('lg') {
        .p-lg-#{$i} {
            padding: 0.25rem * $i;
        }

        .pv-lg-#{$i} {
            padding-top: $padding;
            padding-bottom: $padding;
        }

        .ph-lg-#{$i} {
            padding-left: $padding;
            padding-right: $padding;
        }

        .mb-lg-#{$i} {
            margin-bottom: 0.25rem * $i;
        }
    }

    @include media-breakpoint('md') {
        .p-md-#{$i} {
            padding: 0.25rem * $i;
        }

        .pv-md-#{$i} {
            padding-top: $padding;
            padding-bottom: $padding;
        }

        .ph-md-#{$i} {
            padding-left: $padding;
            padding-right: $padding;
        }

        .mb-md-#{$i} {
            margin-bottom: 0.25rem * $i;
        }

    }
}

