body {
    color: $text;
    font-size: $font-size;
    line-height: 1.5;
    font-family: $text-font-stack;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

h2, .h2 {
    font-size: 1.125rem;
}

h3, .h3 {
    font-size: 1rem;
}
