$font-family-base: 'Roboto';
$line-height-base: 1.5;

$body-bg: #fff;
$body-color: #ccc;

$primary: #000;
$secondary: #a0151e;
$light: #2e2e2e;
$info: #f9f9f9;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer * 0.75,
        4: $spacer,
        5: $spacer * 1.25,
        6: $spacer * 1.5,
        7: $spacer * 1.75,
        8: $spacer * 2,
        9: $spacer * 2.25,
        10: $spacer * 2.5,
        11: $spacer * 2.75,
        12: $spacer * 3,
        13: $spacer * 3.25,
        14: $spacer * 3.5,
        15: $spacer * 3.75,
        16: $spacer * 4,
        17: $spacer * 4.25,
        18: $spacer * 4.5,
        19: $spacer * 4.75,
        20: $spacer * 5,
        21: $spacer * 5.25,
        22: $spacer * 5.5,
        23: $spacer * 5.75,
        24: $spacer * 6,
);