//font
$font-family-base: 'Roboto';
$line-height-base: 1.5;

$small-font-size: 0.813rem;

// scss-docs-start theme-color-variables
$primary: #000;
$secondary: #a0151e;
$light: #2e2e2e;
$info: #f9f9f9;
// scss-docs-end theme-color-variables

// spacer
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer * 0.75,
    4: $spacer,
    5: $spacer * 1.25,
    6: $spacer * 1.5,
    7: $spacer * 1.75,
    8: $spacer * 2,
    9: $spacer * 2.25,
    10: $spacer * 2.5,
    11: $spacer * 2.75,
    12: $spacer * 3,
    13: $spacer * 3.25,
    14: $spacer * 3.5,
    15: $spacer * 3.75,
    16: $spacer * 4,
    17: $spacer * 4.25,
    18: $spacer * 4.5,
    19: $spacer * 4.75,
    20: $spacer * 5,
    21: $spacer * 5.25,
    22: $spacer * 5.5,
    23: $spacer * 5.75,
    24: $spacer * 6,
);

// typography
$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 2.125 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base * 1.125 !default;
$h5-font-size: $font-size-base * 1.125 !default;
$h6-font-size: $font-size-base !default;

// scss-docs-start font-sizes
$font-sizes: (
    0: 0,
);
// scss-docs-end font-sizes

//headings
$headings-margin-bottom: $spacer * .5;
$headings-font-weight: 700;
$headings-line-height: 1.2;

//borders
$border-color: #d1d1d1;

//border-radius
$border-radius: 0.625rem;

// Links
//
// Style anchor elements.
$link-decoration: none;
$link-hover-decoration: underline;

// scss-docs-start input-btn-variables
$input-btn-padding-y: .75rem !default;
$input-btn-padding-x: 1.25rem !default;
$input-border-radius: 0.438rem;

//buttons
$btn-font-weight: 600;
$btn-border-radius: 0.438rem;


//checkbox
$form-check-input-width: 1.313em;
$form-check-input-checked-color: #FFF;
$form-check-input-checked-bg-color: $secondary;
$form-check-input-checked-border-color: $secondary;
$form-check-input-focus-border: none;
$form-check-input-focus-box-shadow: none;