<footer id="footer" class="relative mt-auto bg-[#352666]">
    <img src="img/bg-footer.jpg" width="354" height="160" loading="lazy" class="absolute bottom-0 left-0" alt="" />
    <div class="container flex py-10 text-lg text-white xl:py-14">
        <div>
            2024 © ООО "ЮгСнаб" Дистрибьюторская компания <br />
            <a href="#" class="underline hover:no-underline">Создание сайтов в Армавире</a>
        </div>
        <ul class="ml-auto flex gap-6">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Продукция</a></li>
            <li><a href="#">Наши партнеры</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</footer>
<script type="module" src="./js/common.js" defer></script>
