<header id="header">
    <div class="container py-11 flex">
        <ul class="flex gap-10 uppercase font-bold">
            <li><a href="#" class="text-primary">ГЛАВНАЯ</a></li>
            <li><a href="#" class="hover:text-primary">О КОМПАНИИ</a></li>
            <li><a href="#" class="hover:text-primary">Акции</a></li>
        </ul>
        <ul class="flex gap-10 uppercase font-bold ml-auto">
            <li><a href="#" class="text-primary"> ПРОДУКЦИЯ</a></li>
            <li><a href="#" class="hover:text-primary">НАШИ ПАРТНЕРЫ</a></li>
            <li><a href="#" class="hover:text-primary">КОНТАКТЫ</a></li>
        </ul>
    </div>
</header>
