<div class="fixed left-0 top-0 z-10 w-full bg-white" x-show="showFixedHeader" x-cloak>
    <div class="container flex flex-wrap items-center py-4 xl:py-12">
        <img src="img/logo-2.svg" width="180" height="146" class="logo-inner" alt="" />
        <div
            class="tham tham-e-squeeze tham-w-8 ml-auto text-primary xl:hidden"
            @click="showMenu = !showMenu"
            :class="{'tham-active': showMenu}"
        >
            <div class="tham-box">
                <div class="tham-inner"></div>
            </div>
        </div>
        <ul
            class="mb-2 mt-4 flex basis-full flex-col gap-2 font-bold uppercase xl:mb-0 xl:mt-0 xl:basis-auto xl:flex-row xl:gap-10"
            x-show="showMenu"
            x-transition
            x-cloak
        >
            <li><a href="#" class="text-primary">ГЛАВНАЯ</a></li>
            <li><a href="#" class="hover:text-primary">О КОМПАНИИ</a></li>
            <li><a href="#" class="hover:text-primary">Акции</a></li>
        </ul>
        <ul
            class="flex basis-full flex-col gap-2 font-bold uppercase xl:ml-auto xl:basis-auto xl:flex-row xl:gap-10"
            x-show="showMenu"
            x-transition
            x-cloak
        >
            <li><a href="#" class="text-primary"> ПРОДУКЦИЯ</a></li>
            <li><a href="#" class="hover:text-primary">НАШИ ПАРТНЕРЫ</a></li>
            <li><a href="#" class="hover:text-primary">КОНТАКТЫ</a></li>
        </ul>
    </div>
</div>
