<div class="relative">
    <img
        src="img/bg-cat.jpg"
        alt=""
        class="absolute h-full w-full object-fill"
        width="2000"
        height="705"
        loading="lazy"
    />
    <div class="flex h-[705px] flex-col justify-center">
        <div class="container relative">
            <div class="max-w-[570px] text-white">
                <div class="mb-8 text-4xl font-bold uppercase">ЮгСнаб обслуживает более 6000 ТТ</div>
                <p class="text-[29px]">
                    Компания «ЮгСнаб» является одним из лидеров среди компаний, занимающихся доставкой продуктов,
                </p>
            </div>
            <div class="absolute right-0 top-1/2 flex -translate-y-1/2">
                <div class="relative">
                    <img src="img/hexagon-cta.png" alt="" width="244" height="267" loading="lazy" />
                    <div class="inset-center text-center font-bold uppercase text-white">
                        <div class="text-xl">Армавир</div>
                        <div class="text-[30px]">3672 ТТ</div>
                    </div>
                </div>
                <div class="relative -ml-[30px]">
                    <img src="img/hexagon-cta.png" alt="" width="244" height="267" loading="lazy" />
                    <div class="inset-center text-center font-bold uppercase text-white">
                        <div class="text-xl">Краснодар</div>
                        <div class="text-[30px]">2435 ТТ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
