@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    body {
        font-family: 'Roboto', system-ui;
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    .logo-inner {
        @apply xl:inset-center z-10 w-24 xl:w-[120px];
    }

    .logo-wrap {
        @apply xl:absolute xl:left-1/2 xl:top-10 xl:-translate-x-1/2;

        .logo {
            @apply relative z-10 w-24 xl:w-[180px];
        }

        .logo-cover {
            @apply hidden xl:absolute xl:left-1/2 xl:top-[72px] xl:block xl:-translate-x-1/2;
            min-width: 269px;
        }
    }

    .btn {
        @apply inline-flex justify-center rounded-[18px] px-8 py-5 font-bold uppercase leading-none xl:px-20 xl:py-8 xl:text-lg;

        &.btn-empty-white {
            @apply text-white;
            box-shadow: 0 0 0 3px inset;

            &:hover {
                @apply bg-white text-dark;
            }
        }

        &.btn-primary {
            @apply text-white;
            background-image: linear-gradient(-29deg, #471f53 0%, #3f215b 100%);

            &:hover {
                background-image: linear-gradient(-29deg, #6d537b 0%, #4f2778 100%);
            }
        }

        &.btn-secondary {
            @apply bg-[#b584d3] text-white;

            &:hover {
                @apply bg-[#d6aff2];
            }
        }
    }

    .form-input,
    .form-textarea {
        @apply w-full rounded-[10px] border-0 px-9 py-2;
    }

    .form-textarea {
        height: 139px;
        resize: none;
    }

    .pagination {
        .current {
            background: url('$img/bg-page.png') no-repeat;
            width: 70px;
            height: 77px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .list {
        li {
            @apply relative pl-6;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                background: url('$img/bg-li.png') no-repeat;
                width: 16px;
                height: 16px;
            }
        }
    }
}

@layer utilities {
    .inset-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.splide__pagination {
    @apply absolute bottom-4 left-1/2 flex -translate-x-1/2 transform gap-3 xl:bottom-9;

    li {
        button {
            @apply h-1.5 w-8 rounded-[5px] bg-white bg-opacity-50 xl:h-2.5 xl:w-12;

            &.is-active {
                @apply bg-opacity-100;
            }
        }
    }
}

.splide-partners {
    .splide__slide {
        @apply flex items-center;

        img {
            @apply max-w-[300px];
        }
    }
}

.fancybox__content {
    padding: 0 !important;
    background: none !important;
}

.fancybox__content > .f-button.is-close-btn {
    top: 1rem !important;
    right: 1rem !important;
    background: none;
}

.prose {
    h1,
    h2,
    h3 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
    }

    a.btn {
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            @apply relative pl-6;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 5px;
                background: url('$img/bg-li.png') no-repeat;
                width: 16px;
                height: 16px;
            }
        }
    }

    ol {
        list-style: none;
        padding: 0;
        counter-set: list;

        li {
            @apply relative pl-12;

            &:before {
                counter-increment: list;
                content: counter(list);
                position: absolute;
                left: 0;
                top: 0;
                background: url('$img/bg-li-2.png') no-repeat;
                width: 34px;
                height: 32px;
                color: #fff;
                text-align: center;
                font-size: 0.875rem;
                line-height: 32px;
            }
        }
    }
}
