//font
$font-family-base: 'Inset';
$line-height-base: 1.5;


// scss-docs-start gray-color-variables
$white: #FFF !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
// scss-docs-end color-variables


// scss-docs-start theme-color-variables
$primary: $blue !default;
$secondary: $cyan !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
// scss-docs-end theme-color-variables

// spacer
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer * 0.75,
        4: $spacer,
        5: $spacer * 1.25,
        6: $spacer * 1.5,
        7: $spacer * 1.75,
        8: $spacer * 2,
        9: $spacer * 2.25,
        10: $spacer * 2.5,
        11: $spacer * 2.75,
        12: $spacer * 3,
);

//shadows
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);

// border-radius
$border-radius: .5rem;
$border-radius-sm: .25rem;
$border-radius-lg: 1rem;
$border-radius-pill: 50rem;